body {
  font-family: sans-serif;
  margin: 50px;
  width: 580px;
}

h2 {
  text-decoration: underline solid #2A99FB 6px;
  border-bottom: 1px solid lightgray;
  text-transform: uppercase;
}

p {
  text-align: justify;
}